{% extends "common/base.html" %}
{% block title %}mysite CMS{% endblock %}
{% block brand %}AsK CMS{% endblock %}
{% block menus %}
	<ul class="list-unstyled components">
		<p>My Menus</p>
		{% for page in object_list %}
			<li>
				<a href="#">{{page}}<span style=float:right;><button><i class="far fa-edit"></i></button>&nbsp;<button><i class="far fa-eye-slash"></i></button></a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
{% block container %}
	{% for page in object_list|slice:":1" %}
		{{page.content|safe}}
	{% endfor %}
{% endblock %}